html, body {
  font-size: 16px;
  margin: 0;
}

.panel {
  height: 100%;
  background-color: white;

  .footer {
    font-size: 15px;
  }
}



.package {
  label {
    font-size: 1rem !important;
  }

  .package-notification {
    margin: 0 !important;
    margin-top: 0.6rem !important;
    padding: 0.5rem !important;
    .text {
      font-size: 0.8rem !important;
      line-height: 1rem !important;
    }
  }

  .name-input {
    font-size: 0.95rem;
    font-weight: bold;

    &[type="text"][disabled] {
      color: black;
      background-color: transparent;
    }
  }
}

.item-advanced-options {
  margin-top: 15px;
}

input.disguised {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1rem !important;
}

#install-repo {
  #submit-button {
    margin-top: -8px !important;
  }
}

@import '~stylekit';

.sn-component .circle {
  display: inline-block !important;
}
