html, body {
  font-size: var(--sn-stylekit-base-font-size);
  margin: 0;
}

.sk-panel {
  height: 100%;

  .sk-panel-footer {
    font-size: 15px;
  }
}

a.sk-button  {
  text-decoration: none;
}

.package {
  label {
    font-size: 1rem !important;
  }

  .package-notification {
    margin: 0 !important;
    margin-top: 0.6rem !important;
    padding: 0.5rem !important;
    .text {
      font-size: 0.8rem !important;
      line-height: 1rem !important;
    }
  }

  .name-input {
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--sn-stylekit-foreground-color);
    background-color: transparent;

    &[type="text"][disabled] {
      color: var(--sn-stylekit-foreground-color);
      background-color: transparent;
    }
  }

  .package-desc {
    white-space: pre-line;
  }

  .package-flags {
    display: flex;
    flex-direction: row;
    margin-top: 4px;

    .package-flag {
      display: inline-block;
      vertical-align: middle;
      padding: 3px 5px;
      font-size: 10px;
      line-height: 11px;
      background-color: var(--sn-stylekit-info-color);
      color: var(--sn-stylekit-info-contrast-color);
      border-radius: var(--sn-stylekit-general-border-radius);
      font-weight: 600;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

.item-advanced-options {
  margin-top: 15px;

  label {
    display: block;
  }
}

input.disguised {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1rem !important;
}

#install-repo {
  #submit-button {
    margin-top: -8px !important;
  }
}

@import '~stylekit';

.sn-component .sk-circle {
  display: inline-block !important;
}
